<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <ul>
                    <li routerLinkActive="active">
                        <a mat-button routerLink="/home">HOME</a>
                    </li>
                    <li routerLinkActive="active">
                        <a mat-button routerLink="/products">SERVICIOS</a>
                    </li>
                    <li routerLinkActive="active">
                        <a mat-button routerLink="/contact">CONTACTO</a>
                    </li>
                </ul>
            </nav>
            <a routerLink="/admin" mat-raised-button  matBadgeColor="warn">ADMIN</a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>