<a class="btn-create" mat-raised-button routerLink="/admin/plan/create">Crear Paquete</a>

<table mat-table [dataSource]="plans" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN</th>
        <td mat-cell *matCellDef="let item"> {{item.descripcion}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> PRECIO</th>
        <td mat-cell *matCellDef="let item">Q {{item.precio | number : '1.2-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="categoriaid">
        <th mat-header-cell *matHeaderCellDef> CATEGORIA</th>
        <td mat-cell *matCellDef="let item"> 
            {{ item['CategoryName'] = customFilter('_id', item.categoriaid, categories)?.descripcion }}
            <!-- {{item.categoriaid}}  -->
        </td>
    </ng-container>
    <ng-container matColumnDef="tipovehiculoid">
        <th mat-header-cell *matHeaderCellDef> TIPO VEHICULO</th>
        <td mat-cell *matCellDef="let item">
            {{ item['TypeVehicleName'] = customFilter('_id', item.tipovehiculoid, typevehicles)?.descripcion }}
            <!-- {{item.tipovehiculoid}}  -->
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACCIONES</th>
        <td mat-cell *matCellDef="let item">
            <a mat-button [routerLink]="['/admin/plan/edit', item._id]">Editar</a>
            <button mat-button mat-raised-button color="warn" (click)="deleteItem(item._id)">Eliminar</button>
        </td>
    </ng-container>

    <!-- Pone un estilo al encabezado -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>