<form [formGroup]="formulario" (ngSubmit)="editItem($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Actualizar Categoría</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="item">
                        <input placeholder="Descripción" matInput formControlName="descripcion" type="text">
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button [disabled]="formulario.invalid" color="primary" type="submit">Guardar</button>
        </mat-card-content>
    </mat-card>


</form>